@model hadasimExe1new.Models.Client

@{
    ViewData["Title"] = "Edit";
}
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<h1>Edit</h1>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="firstName" class="control-label"></label>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="control-label"></label>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="adress" class="control-label"></label>
                <input asp-for="adress" class="form-control" />
                <span asp-validation-for="adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="city" class="control-label"></label>
                <input asp-for="city" class="form-control" />
                <span asp-validation-for="city" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numAdress" class="control-label"></label>
                <input asp-for="numAdress" class="form-control" />
                <span asp-validation-for="numAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mobilePhone" class="control-label"></label>
                <input asp-for="mobilePhone" class="form-control" />
                <span asp-validation-for="mobilePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfSickness" class="control-label"></label>
                <input asp-for="DateOfSickness" class="form-control" />
                <span asp-validation-for="DateOfSickness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfRecovery" class="control-label"></label>
                <input asp-for="DateOfRecovery" class="form-control" />
                <span asp-validation-for="DateOfRecovery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
         @*    <div>
                <a asp-action="Create" asp-controller="Vaccinations" asp-route-memberId="@Model.Id">Add Vaccine</a>
            </div>
            <form asp-action="Create" asp-controller="Vaccinations" method="get">
                <input type="hidden" name="clientId" value="@Model.Id" />
                <button type="submit" class="btn btn-primary">Add Vaccine</button>
            </form>
 *@
            <a href="@Url.Action("Create", "Vaccinations", new { memberId = Model.Id })">Add Vaccine</a>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
