@model hadsimnew.Models.Vaccination

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<h4>Vaccination</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* 
           <input type="hidden" asp-for="MemberId" value="@ViewBag.MemberId" /> *@
            <input type="hidden" asp-for="MemberId" value="@ViewData["MemberId"]" />

            <div class="form-group">
                <label asp-for="DateVaccination" class="control-label"></label>
                <input asp-for="DateVaccination" class="form-control" />
                <span asp-validation-for="DateVaccination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="manufacturer" class="control-label"></label>
                <input asp-for="manufacturer" class="form-control" />
                <span asp-validation-for="manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
